# Ignore exported GPG public keys
pubkey_*.asc

# Node / JS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Playwright artifacts
.playwright/
playwright-report/
node_modules/.cache/ms-playwright/

# Local test artifacts
playwright-report/
test-results/
trace/
video/
